<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" *ngIf="search">
      <form class="w-100" [formGroup]="filterForm">
        <div class="row content-filter">
          <label class="mx-3 text-filter">SEARCH:</label>
          <input
            class="col-md-3 col-sm-12 col-xs-12 form-control input-search"
            formControlName="inputFilter"
            type="search"
            placeholder="Search here"
            aria-label="Search"
          />
          <button
            class="mx-3 btn button-submit"
            type="submit"
            (click)="filterList()"
          >
            SEARCH CAR
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
